{% extends 'base.html' %}
{% block title %}My Deck{% endblock %}
{% block content %}
    <h4>My deck</h4>
    <div class="row">
        {% for object in user.profile.deck.all %}
            <div class="card m-1 border-dark" style="width: 18rem;">
                <img src="{{ object.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Pokemon: {{ object.name }} #{{ object.poke_id }}</h5>
                    <hr>
                    <p class="card-text">
                    <ul class="list-group">
                        <div class="row">

                            {% for elem in object.elements.all %}
                                <div class="col-5 m-1">
                                    <img src="{{ elem.image.path }}" class="img-fluid" alt="...">
                                </div>

                            {% endfor %}
                        </div>
                    </ul>
                    </p>
                </div>
                <a href="{% url 'create_transaction' object.id %}" class="card-text btn btn-danger">Offer up for trade</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
